//Mobile View
.game-page{
  background-color: rgba(24, 24, 24, 0.93);
  color: #FFFFFF;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100vw;
  padding-top: 11vh;
  .game-list{
    width: 80%;
    text-align: center;
    display: flex;
    justify-content: center;
    border-collapse: collapse;
    tr{
      border: 2px black solid;
    }

    img{
      width: 250px;
      height: 100px
    }
    }
 

}






//Desktop View
@media only screen and (min-width: 481px){

}