//Mobile View
.game-page{
  background-color: rgba(24, 24, 24, 0.93);
  color: #FFFFFF;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width:100vw;
  padding-top: 11vh;
  padding-bottom: 3vh;
  .game-list{
    width: 80%;
    text-align: right;
    display: flex;
    justify-content: center;
    border-collapse: collapse;
    tr{
      border-bottom: #898989 2px solid;
    }

    .game-list-mobile{
      // box-shadow: #898989 3px 1px 3px;
      
      
    }
    #something{
      border-spacing: 10px;
      // border: 2px #898989 solid;
      // margin: 20px 20px;
      th{
        text-align: start;
      }

    }
    img{
      width: 250px;
      height: 100px;
      box-shadow: #898989 1px 1px 1px;

    }
    }
 

}






//Desktop View
@media only screen and (min-width: 481px){

}