.login{
  margin-top: 10vh;
  padding-top: 3vh;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  width: 100vw;
}
.login-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  input{
    width: 50%;
  }
}
.login-buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  button{
    margin-top: 16px;
    width: fit-content;
  }
}
