.login{
  margin-top: 10vh;
  padding-top: 3vh;
  display: flex;
  align-content: center;
  flex-direction: column;
  width: 100vw;
  height: 87vh;
  background-color: rgba(24, 24, 24, 0.93);
}
.another{
  display: flex;
  justify-content: center;
  margin-top: 20vh;
}
.test{
  height: 100px;
  color: white;
  
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-bottom: none;
  padding: 6px 10px;
  line-height: 26px;
  border-radius: 3px;
  backdrop-filter: blur(20px);
  background-color: rgba( 0, 0, 0, 0.3 );
  width: 50vw;
}
.login-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  input{
    width: 50%;
    border-radius: 2px;
    color: #fff;
    padding: 10px;
    background-color: #32353c;
    outline: none;
    font-size: 15px;
    grid-area: input;
    border: 1px solid #32353c;
  }
  label{
    color: #fff;
  }
}
.login-buttons{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .action-button{
    margin-top: 16px;
    width: fit-content;
    color: white;
  }
  #login-button{
    position: relative;
    background: linear-gradient(90deg, #06BFFF 0%, #2D73FF 100%);
    border-radius: 2px;
    border: none;
    outline: none;
    padding: 12px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    font-family: inherit;
    text-align: center;
    letter-spacing: .03em;
    cursor: pointer;
  }
  #sign-up-button{
    position: relative;
    background: linear-gradient(90deg, #06BFFF 0%, #2D73FF 100%);
    border-radius: 2px;
    border: none;
    outline: none;
    padding: 12px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    font-family: inherit;
    text-align: center;
    letter-spacing: .03em;
    cursor: pointer;
  }
  #forgot-password-button{
    background-color: rgba(255,255,255,.1);
    border-radius: 2px;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    padding: 8px 16px;
  }
}
