#navbar{
  background: #171a21;
  position: fixed;
    // color: #FFFFFF;
  // padding-top: 13px;
  // padding-bottom: 13px;
  // padding-left: 8px;
  // padding-right: 8px;
  // position: fixed;
  // top: 0;
  // z-index: 1;
  #nav-logo{
    height: 6vh;
  }
}