#navbar{
  background-color: #171a21;
  top: 0;
  left:0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 10vh;

  #nav-menu{
    color: #FFFFFF;
    font-size: 4vh;
 
  }
  #nav-logo{
    height: 10vh;
    padding-left: 13vw;
    padding-right: 20vw;
  }

}

#nav-drawer-menu{
  .css-4t3x6l-MuiPaper-root-MuiDrawer-paper{
    background-color: #171a21;
    color: white
  }
  #something {
    width: fit-content;
    list-style: none;
    padding: 0 20vw;

  }
}