.signup-page{
  margin-top: 10vh;
  padding-top: 3vh;
  display: flex;
  align-content: center;
  flex-direction: column;
  width: 100vw;
  height: 87vh;
  background-color: rgba(24, 24, 24, 0.93);
  color: white;
}